.company-main-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.logo-company {
  text-align: center;
}
.logo-company img {
  display: inline-block;
  height: 50px;
  width: 50px;
}
.title-copmany1 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  font-weight: bold;
}
.title-company2 {
  text-align: center;
}
.list-company {
  position: relative;
  width: 300px;
  height: 300px;
}
.anha,
.a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.a {
  display: none;
}
.box-company2:hover .anha {
  display: none;
}
.box-company2:hover .a {
  display: block;
}

.box2-company {
  display: flex;
}
.b {
  margin-left: 50px;
  margin-right: 50px;
}
.c {
  margin-right: 50px;
}
.k {
  margin-left: 25px;
}
.title-company3 {
  margin-top: 30px;
}
.title-company3-1 {
  font-size: 13px;
  font-weight: bold;
}
.title-company3-2 {
  font-size: 30px;
}
.list-comment {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  gap: 50px;
}
.comment1,
.comment2,
.comment3 {
  width: 700px;
}
.text-comment {
  text-align: center;
}
.list-company-text {
  text-align: center;
}
.list-company-name {
  font-size: 25px;
  font-weight: bold;
}
.box-company4 {
  margin-top: 30px;
}
.title-company4 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.description-list {
  display: flex;
  margin-left: 100px;
  gap: 50px;
  margin-top: 20px;
}
.description-list1 {
  width: 400px;
}
.description-img1 {
  width: 400px;
}
.des1 {
  width: 400px;
  height: 400px;
}
.description-img2 img {
  width: 400px;
  height: 400px;
}
.description-img3 img {
  width: 400px;
  height: 400px;
}
.description-text1-1,
.description-text2-1,
.description-text3-1 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
.description-text1-2,
.description-text2-2,
.description-text3-2 {
  text-align: center;
}
.title-company5 {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}
.box5-list {
  display: flex;
  justify-content: space-between;
}
.box5-list1 {
  position: relative;
  width: 300px;
  height: 350px;
  margin-top: 20px;
}
.box5-list-img img {
  width: 100%;
  height: 225px;
  object-fit: cover;
}
.box5-list-text {
  position: absolute;
  bottom: 135px;
  left: 60px;
  color: aliceblue;
  text-align: center;
  font-weight: bold;
}
.box5-list-text1 {
  font-size: 25px;
}
.box5-list-text2 {
  color: black;
  background-color: aliceblue;
}
.box2-company {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .company-main-container {
    max-width: 100%;
  }

  .list-comment {
    display: flex;
  }
  .list-company {
    position: relative;
    width: 200px;
    height: 200px;
  }
  .anha,
  .a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .a {
    display: none;
  }
  .box-company2:hover .anha {
    display: none;
  }
  .box-company2:hover .a {
    display: block;
  }
  .description-list {
    margin-left: 0;
    justify-content: center;
  }
  .list-company-name,
  .list-company-price,
  .list-company-range {
    margin-left: -10px;
  }
  .comment1,
  .comment2,
  .comment3 {
    width: 300px;
  }
  .text-comment {
    text-align: center;
  }

  .description-list1,
  .description-list2,
  .description-list3 {
    width: 300px;
  }
  .des1 {
    width: 300px;
  }
  .box5-list {
    display: flex;
    justify-content: space-between;
  }
  .box5-list1 {
    position: relative;
    width: 230px;
    height: 230px;
    margin-top: 20px;
  }
  .box5-list-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .box5-list-text {
    position: absolute;
    bottom: 70px;
    left: 40px;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
  }
  .box5-list-text1 {
    font-size: 20px;
  }
  .box5-list-text2 {
    color: black;
    background-color: aliceblue;
  }
}
@media (max-width: 768px) {
  .title-copmany1 {
    font-size: 30px;
  }

  .box2-company {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .list-company {
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 80px;
  }
  .a {
    display: none;
  }
  .c {
    margin-left: 25px;
  }
  .k {
    margin-left: 25px;
  }
  .box-company2:hover .anha {
    display: none;
  }
  .box-company2:hover .a {
    display: block;
  }

  .list-comment {
    gap: 10px;
  }
  .description-list1,
  .description-list2,
  .description-list3 {
    width: 200px;
  }
  .description-img1 img,
  .description-img2 img,
  .description-img3 img {
    width: 200px;
    height: 200px;
  }
  .box5-list1 {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 10px;
  }
  .box5-list-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .box5-list-text {
    position: absolute;
    bottom: 65px;
    left: 40px;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
  }
  .box5-list-text1 {
    font-size: 15px;
  }
  .box5-list1 {
    width: 100%;
  }
}
@media (max-width: 486px) {
  .company-main-container {
    max-width: 100%;
  }

  .logo-company img {
    height: 40px;
    width: 40px;
  }

  .title-copmany1 {
    font-size: 24px;
    margin-top: 10px;
  }

  .list-company {
    width: 150px;
    height: 150px;
    margin-left: 50px;
  }

  .anha,
  .a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .box-company2:hover .anha {
    display: none;
  }

  .box-company2:hover .a {
    display: block;
  }

  .box2-company {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-left: 50px;
  }
  .box2-company img {
    margin-left: 40px;
  }
  .b,
  .c,
  .k {
    margin-left: 0;
    margin-right: 0;
  }

  .title-company3 {
    margin-top: 20px;
  }

  .title-company3-2 {
    font-size: 24px;
  }

  .list-comment {
    flex-direction: column;
    gap: 20px;
  }

  .comment1,
  .comment2,
  .comment3 {
    width: 100%;
  }
  .comment1 img,
  .comment2 img,
  .comment3 img {
    width: 300px;
    margin-left: 50px;
  }
  .description-list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .description-list1,
  .description-list2,
  .description-list3 {
    width: 200px;
  }

  .des1 {
    width: 200px;
    height: 200px;
  }

  .description-img1 img,
  .description-img2 img,
  .description-img3 img {
    width: 200px;
    height: 200px;
  }

  .box5-list {
    flex-direction: column;
    align-items: center;
  }

  .box5-list1 {
    width: 180px;
    height: 180px;
  }

  .box5-list-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .box5-list-text {
    bottom: 50px;
    left: 30px;
  }

  .box5-list-text1 {
    font-size: 14px;
  }
}
