/* ImprovedHeader.css */
/* header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  background-color: white;
}
.main-content {
  padding-top: 70px; /* Khoảng trống tương đương chiều cao của header */


.ant-menu-item a,
.ant-menu-submenu-title {
  text-decoration: none !important; /* Không có gạch chân */
  font-weight: normal !important; /* Font bình thường */
}

.ant-menu-item a:hover,
.ant-menu-submenu-title:hover {
  text-decoration: none !important; /* Không có gạch chân khi hover */
  font-weight: normal !important; /* Font bình thường khi hover */
}

/* Chỉnh sửa vấn đề ellipsis */
.ant-menu-item,
.ant-menu-submenu-title {
  flex-shrink: 0; /* Ngăn việc co lại */
  white-space: nowrap; /* Đảm bảo không xuống dòng */
}

/* Các thuộc tính khác của input và button */
.ant-input {
  font-size: 16px;
}

.ant-btn {
  font-size: 16px;
}

/* Remove underline and ellipsis */
.ant-menu-item a,
.ant-menu-submenu-title a {
  text-decoration: none !important;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu-item-selected,
.ant-menu-submenu:hover,
.ant-menu-submenu-active,
.ant-menu-submenu-selected {
  background-color: transparent !important;
  border-bottom: none !important;
}

.ant-menu-item a:hover,
.ant-menu-submenu-title:hover {
  text-decoration: none !important;
}
@media (max-width: 1024px) {
  .ant-menu-horizontal {
    display: block; /* Hiển thị menu dạng khối khi màn hình nhỏ */
  }

  .ant-menu-item,
  .ant-menu-submenu-title {
    display: block; /* Mỗi item sẽ chiếm toàn bộ chiều rộng */
  }
}

@media (min-width: 1024px) {
  .ant-menu-horizontal {
    display: flex; /* Flex cho các màn hình lớn */
  }

  .ant-menu-item,
  .ant-menu-submenu-title {
    display: inline-block; /* Dạng inline-block để chúng xếp theo hàng ngang */
  }
}
.all-products {
  width: 100vw; /* 100% of the viewport width */
  position: relative; /* Ensures it doesn't get limited by parent constraints */
  left: 50%; /* Shifts it to align with the viewport */
  transform: translateX(-50%); /* Centers the div */
  background-color: #eff0f1; /* Optional: to visualize the full-width effect */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-sanpham {
  align-items: center;
  width: 1400px;
  font-size: 26px;
  padding: 10px 20px;
}

