.header {
  background-color: transparent;
  color: black;
  font-size: 16px;
  position: fixed; /* Chỉnh thành fixed để header cố định */
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  z-index: 1000;
}

.header-container {
  max-width: 1730px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white;
  border-radius: 50px;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

.header-nav li:hover:after {
  transform: scaleX(1); /* Hiệu ứng underline khi hover */
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right > * {
  margin-left: 1rem;
}
