/* Banner Section */
.location-banner {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;  /* Ensures the image doesn't overflow */
}

.location-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;     /* Ensures the image covers the entire banner area */
  object-position: center;  /* Centers the image */
  border-radius: 0;      /* Keep the design consistent */
}

/* Location Info Section with 20px left-right padding */
.Location-Info {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;

}

/* Existing CSS for Location cards (unchanged) */
.Location-Container {

  margin-top: 20px;
}

.ant-card {
  text-align: left;
  height: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 0;
}

.ant-card-body {
  padding: 0px;
  display: flex;
  flex-direction: column;
  border-radius: 0;
}

.ant-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.location-logo-section {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  height: 120px;
}

.location-logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 0;
}



.location-info-section h2 {
  font-size: 24px;
}

.location-info-section p {
  padding-top: 10px;
}

.location-telephone {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.location-details {
  text-align: right;

}
