.custom-header {
  background: #fff;
  padding: 0 20px;
  height: 64px;
  line-height: 64px;
}

.custom-header .ant-row {
  height: 100%;
}

.custom-header .ant-input-search {
  vertical-align: middle;
}

.custom-header .ant-space {
  line-height: normal;
  float: right;
}
